<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>
            inicio
        </welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>nuevaVacante</servlet-name>
        <servlet-class>servlets.nuevaVacante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ultimasVacantesSer</servlet-name>
        <servlet-class>servlets.ultimasVacantesSer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>busquedaOfertas</servlet-name>
        <servlet-class>servlets.busquedaOfertas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>servlets.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registroServlet</servlet-name>
        <servlet-class>servlets.registroServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>infoPerfilServlet</servlet-name>
        <servlet-class>servlets.infoPerfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarPerfilServlet</servlet-name>
        <servlet-class>servlets.modificarPerfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>usuariosServlet</servlet-name>
        <servlet-class>servlets.usuariosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolicitudController</servlet-name>
        <servlet-class>servlets.SolicitudController</servlet-class>
        <!-- https://docs.oracle.com/javaee/6/tutorial/doc/gmhal.html -->
        <multipart-config>
            <location>/uploads</location>
            <!-- Tamanio maximo del archivo a subir-->
            <max-file-size>3145728</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>EmailController</servlet-name>
        <servlet-class>servlets.EmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarContraseña</servlet-name>
        <servlet-class>servlets.RecuperarContraseña</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarContraseña</servlet-name>
        <servlet-class>servlets.modificarContraseña</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>nuevaVacante</servlet-name>
        <url-pattern>/nueva-vacante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ultimasVacantesSer</servlet-name>
        <url-pattern>/inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>busquedaOfertas</servlet-name>
        <url-pattern>/buscar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registroServlet</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>infoPerfilServlet</servlet-name>
        <url-pattern>/info-perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarPerfilServlet</servlet-name>
        <url-pattern>/mod-perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>usuariosServlet</servlet-name>
        <url-pattern>/usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolicitudController</servlet-name>
        <url-pattern>/solicitud</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailController</servlet-name>
        <url-pattern>/email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarContraseña</servlet-name>
        <url-pattern>/recuperar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarContraseña</servlet-name>
        <url-pattern>/modificar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
</web-app>
